:root {
    --green: #5AB84B;
    --white: #FFFFFF;
    --light: #848484;
    --dark:  #222222;
}

html {
    font-size: 10px;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

@media(max-width: 600px){

    html {
        font-size: 7px;
    }
}